h1{
    color: rgba(255, 255, 255, 0.74);
    font-size: x-large;
}

button{
    width: 90%;
}
input{
    width: 90%;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 315px;
}

@media (max-width : 500px){
    .wrapper {
        width: 97%;
    }
}
@media (min-width : 500px){
    .wrapper {
        width: 400px;
    }
}

.scelta-babbo-wrapper{
    display: block;
    max-width: 400px;
    padding: 30px;
    margin: auto;
    background-color: rgba(15, 15, 15, 0.959);
    border-radius: 3px;
}
.scelta-babbo-wrapper > *{
margin: auto;
display: block;
top: 0;
left: 0;
text-align: center;
margin-top: 10px;
}

.input-user{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    display: block;
    border: none;
    outline: none !important;
}

#submit{
    border-radius: 5px;
    border: none;
    box-sizing: content-box;
    padding: 10px;
    font-size: large;
    display: block;
    color: white;
    outline: none !important;
}
.submit-button{
   background-color: rgb(218, 0, 199);
}
.submit-button:hover{
    background-color: rgb(231, 49, 216);
    cursor: pointer;
    box-shadow: -2px 10px 8px rgba(255, 255, 255, 0.267);
}
.submit-button-clicked:hover{
    cursor: not-allowed;
}
#combNum{
    color: black;
    background-color: white;
    text-align: center;
}
.colse-admin-controls{
    background-color: red;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
#answer {
    color: red;
}